:root {
  --game-base-bg: #f3f3ed;
}

.container {
  height: 100%;
  text-align: center;
}

/* avatar style on page left side */
.avatar-wrap {
  width: 45%;
  height: 100%;
  position: relative;
  float: left;
}

.game-box {
  width: 330px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--game-base-bg);
  background: var(--game-base-bg);
}

.game-box > .game-box-item {
  width: 108px;
  height: 108px;
  margin: 1px;
  cursor: pointer;
}

.game-box > .game-box-item-text {
  line-height: 108px;
  background: #fff;
}

.game-box > .game-box-item > img {
  width: 100%;
  height: 100%;
}

/* timeline style on page right side */
.time-line {
  margin-left: 50%;
  height: 100%;
  border-left: 2px solid brown;
}
